//.columnExtraMarginLeft {
//  margin-left: 12px;
//  padding-right: 0px;
//}
//
//.columnExtraMarginRight {
//  margin-right: 12px;
//  padding-left: 0px;
//}

.containerExtraPadding {
  padding: 20px;
}

//homepagina
.voorwerp-afbeelding {
    object-fit: cover;
}

.voorwerp-kolom {
  align-items: stretch;
}

.voorwerp-card {
  min-height: 504px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-footer {
  //position: absolute;
  //bottom: 0;
}

//alle meldingen
%meldingen {
  border: solid #E50056 1px;
  padding: 10px 0;
  color: #ffffff;
}

//op basis van error of success een andere kleur geven.
.errormsg {
  @extend %meldingen;
  background-color: #000000;
  border-color: #ffffff;
}

.successmsg {
  @extend %meldingen;
  background-color: #ffffff;
  border-color: #000000;
}


// veilingspagina
.veilingoverzicht-container {
  height: 100%;
  padding: 100px 0;
  .table {
    tbody{
      td{
        a{
          color: #fff !important;
          text-decoration: underline;
        }
      }
    }
  }
}

.tablewrapper {
  max-width:100vw;
  display: block;
}

@media screen and (max-width: 768px) {
  .tablewrapper {
    overflow-y: scroll;
  }
}

