@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

body {
  height:200px;
  background: lightblue;
}

// HAN Kleuren
$han-rood : #E50056;
$groen: #00FF00;
$primary : $groen;


@import '../../styles/bulma.min.css';